*{font-family: 'Gabarito';}

main.main-aboutus{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
}
.mainAboutUsContent{
    height: 90%;
    width: 100%;
}
.layer-aboutus {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50vw;
    align-self: end;
    background-image: linear-gradient(to bottom, #341705, #1a0e01);
}
img.image-layer-aboutus {
    transform: translateX(-100%);
}

.contentAboutUS{
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.description-aboutus {
    width: 70%;
    text-align: center;
    line-height: 1.6;
}
.Vidhi{
    color: #fff;
}
.Anshul{
    color: #341705;
}
img.image-profile-aboutus {
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

button.Button-aboutus {
    padding: 1em 3em;
    border-radius: 5em;
    transition: 0.5s;
}
.Button-aboutus:hover{
    transition: 0.5s; cursor: pointer;
}

.AnshulBG{ 
    background-color: #2a1403; color: white;
    transition: 0.5s;
}
.VidhiBG{
    background-color: white;
    transition: 0.5s;
}

.profilePic-aboutus {
    aspect-ratio: 1 / 1;
    height: 30%;
    border-radius: 50%;
    padding: 0.3em;
    background: #2a1403;
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
}

#show-minus{
    border-radius: 50%;
    padding: 1em;
    aspect-ratio: 1/1;
    transition: 0.5s;
    height: 3em;
}
.contact-aboutus{position: relative;}
i.brands-contactus {
    font-size: x-large;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}
.brands-contactus:hover{
    transition: 0.5s;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
i.fa-github{ top: -1.5em; left: -1.5em; transition: 1s;}
i.fa-linkedin{ top: -1.5em; right: -1.5em; transition: 1.1s;}
i.fa-envelope{ bottom: -1.5em; left: -1.5em; transition: 1.2s;}
i.fa-whatsapp{ bottom: -1.5em; right: -1.5em; transition: 1.3s;}

#hide-me-contactus {
    top: 0;
    right: 0;
    left: 3em;
    bottom: 0px;
    z-index: -2;
    opacity: 0;
    transition: 1s;
}

.vidhi-contactus{
    color: white;
    cursor: pointer;
    transition: 0.5s;
    cursor: pointer;
}
.vidhi-contactus:hover{
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
    transition: 0.5s;
}
.anshul-aboutus{
    cursor: pointer;
}
.ImageBackHover {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    border-radius: 50%;
}
